#bodydoe{
	background:url(typewriter.jpg);
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;
}

.imo{
	background-color:white;
	padding:50px 0px 50px 0px;
}

.text{
	padding: 0px 500px 0px 500px;
	font-size: 40px;
	color:black;
}

.textoh{
	padding: 0px 500px 0px 550px;
	margin: 0px;
	font-size: 20px;
	color:black;
}

.bar{
	height:50px;
}



.posts{
	background-color:white; 
	color:black;
	height:400px;
	width:300px;
	font-size: 15px;
	padding: 0px 10px 0px 10px;
	margin:50px 0px 10px 10px;
}

.titledoe{
	font-family: 'Prata', serif;
	font-size:20px;
	padding:0px 10px 0px 10px;
}




h1{
	font-family: 'Prata', serif;
}



ul{
	list-style-type: none;
}

a:link{
	font-family: 'Prata', serif;
	font-size: 20px;
	text-decoration: none;
	border-spacing: 3px;
	color:black;
	text-align:center;
	width:120px;
	margin:0px 0px 0px 20px;
}
a:active{
	color: black;
}
a:visited{
	color: black;
}

a:hover{
	background-color:black;
	color:white;
}


@media (max-width:320px){
	body{
		background: no-repeat center center fixed;
	}
	
	li {
		display: list-item;
		text-align: -webkit-match-parent;
	}

	a{
		font-size: 20px;
	}

	p{
		
	}

	h1{
		margin:10px;
	}

}

@media (max-width: 1024px){

}